.row {
    background-image:url("../images/giveand.jpg");
	background-repeat: no-repeat;	
    height:850px;
    padding:150px;
    width: 3000px;
}
h1 {
	font-size:80px;
    font-family:arial;
    text-align: center;
    color:white;
    padding:200px;
}

h2 { 
    font-size:50px;
    text-align:center; 
}


